<%= render 'tree/breadcrumb', category: @category %>

<h1><%= @category.name %></h1>

	<%= link_to t('cat.add'), add_category_path(@categories) %>

	<%= link_to t('cat.edit'), edit_category_path(@categories) %>

<section id="posts">

	<%= render @posts %>

</section>